[submodule "data/achievements"]
	path = data/achievements
	url = https://github.com/Bloommunity/bini-archives-achievements.git
[submodule "data/contributors"]
	path = data/contributors
	url = https://github.com/Bloommunity/bini-archives-contributors.git
[submodule "data/socials"]
	path = data/socials
	url = https://github.com/Bloommunity/bini-archives-socials.git
